body {
    font-family: Arial, sans-serif;
}
header {
    margin-bottom:160px;
}
.wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 910px;
   
}    
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.top {
	background-color: white; 
	margin-top:20px;
    
}
.top ul{
	list-style: none;
}

.top ul li {
	display: inline-block;
    height: 30px;
    margin: 0;
    min-width: 50px;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: top;
}
.top span {
    margin-top: 3px;
}
.top ul li a {
	text-decoration: none;
	color: white;
	font-size: 12px;
}
.top ul li a:hover {
	color: grey;
	text-decoration: underline;
	border-color: white;
} 
.phone {
    font-size: 16px;
    line-height: 25px;
    
    align: bottom;
}
.phone:before {
	background: url("../img/phone.png") no-repeat;
    content: "";
    display: block;
    float: left;
    height: 27px;
    margin-top: 5px;
    width: 27px;
}
.top form {
    margin-left: 20px;
	height: 27px;
	background-color: #14496c; 
	border-radius: 3px;
}
input[type=text], input[type=password] {
	width: 116px;
	height: 14px;
	padding: 0 3px;
    margin-top: 4px;
}
input[type=checkbox] {
    border: 1px solid #1c4360;
}
.submit {
    background: linear-gradient(to top, rgb(12,57,87) 0%, rgb(31,102,133) 100%); 
    border-radius: 12px;
    border: none;
    color: #e5e9ea;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    padding: 7px 8px;
    text-align: center;
    text-decoration: none;
}
.top form:before {	
	background: url("../img/icon_user.png") no-repeat;
    content: "";
    display: block;
    float: left;
    height: 25px;
    margin: 0px 3px 0 0;
    width: 25px;
}
.top form a{
    padding-left: 3px;
}
.top form a:first-of-type {
    margin-left: 4px;
	border-right: 1px solid;
    padding-right: 3px;
}
.top form a:last-of-type {
     margin-left: 20px;
     margin-right: 10px;
}
.top nav {
    margin-left: 16px;
    height:20px;
	border: 1px solid grey;
	border-radius: 10px;
}
.top figure {
	width:910px;
}

.menu {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d1641+0,101943+3,28314b+6,272f44+9,20263b+13,1e2439+16,090d1f+81,070b1e+91,0b1234+94,0c143c+97,000000+100&0.31+0,1+3,1+94,0.61+97,0.1+100 */
background: -moz-linear-gradient(top,  rgba(13,22,65,0.31) 0%, rgba(16,25,67,1) 3%, rgba(40,49,75,1) 6%, rgba(39,47,68,1) 9%, rgba(32,38,59,1) 13%, rgba(30,36,57,1) 16%, rgba(9,13,31,1) 81%, rgba(7,11,30,1) 91%, rgba(11,18,52,1) 94%, rgba(12,20,60,0.61) 97%, rgba(0,0,0,0.1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(13,22,65,0.31) 0%,rgba(16,25,67,1) 3%,rgba(40,49,75,1) 6%,rgba(39,47,68,1) 9%,rgba(32,38,59,1) 13%,rgba(30,36,57,1) 16%,rgba(9,13,31,1) 81%,rgba(7,11,30,1) 91%,rgba(11,18,52,1) 94%,rgba(12,20,60,0.61) 97%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(13,22,65,0.31) 0%,rgba(16,25,67,1) 3%,rgba(40,49,75,1) 6%,rgba(39,47,68,1) 9%,rgba(32,38,59,1) 13%,rgba(30,36,57,1) 16%,rgba(9,13,31,1) 81%,rgba(7,11,30,1) 91%,rgba(11,18,52,1) 94%,rgba(12,20,60,0.61) 97%,rgba(0,0,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f0d1641', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */
    width: 910px;
    height: 40px;
    margin-top: 5px;
    border-radius: 10px;
 }

.menu ul li {
    display: block;
    float:right;
    font-size: 16px;
    height:33px;
    margin: 0;
    min-width: 8%;
    padding: 0 5px;
    text-align: center;
    line-height: 40px;
    color: white;
}    
.menu a {
    display: block;
    text-decoration: none;
    height: 33px;
    line-height: 33px;
    color: white;
    text-transform: uppercase;
    padding: 0 3px;
}
.menu a:hover {
     background: linear-gradient(to top, rgb(12,57,87) 0%, rgb(31,102,133) 100%); 
     border: 1px solid white;
     border-radius:15px;
}
.cashout {
     line-height: 40px;
     padding-bottom: 5px;
     font-size: 15px;
     margin-bottom: 5px;
}
.menu li:nth-child(2):before {
background: url("../img/shopcart.png") no-repeat;
    content: "";
    display: block;
    float: left;
    height: 25px;
    margin: 5px 3px 0 0;
    width: 25px;
} 
.menu li:nth-child(2):after {
    content: "0";
    color:#0d5a8f;
    padding: 0 5px;
    }
.menu li:first-child:after {
    content: "0.00 грн.";
    color:#0d5a8f;
    padding: 0 5px; 
}

.container1 {
    background: white;
    float:left;
    position:relative;
    right:58%;
    width:100%;
}
.container2 {
    
   float:left;
   position:relative;
   right:21%;
   width:100%;
}
.container3 {
    background: white;;
    float:left;
    overflow:hidden;
    width:100%;    
}

.leftCol {
    float:left;
    left:80%;
    position:relative;
    width:18%;       
}
.leftCol ul{
    list-style: none;
    margin-left: 20px;
    }
.leftCol ul li:before{
    background: url("../img/mark.png") no-repeat;
    content: "";
    display: block;
    float: left;
    height: 25px;
    margin: 5px 3px 0 0;
    width: 25px; 
}
.centerCol {
    float:left;
    left:82%;
    position:relative;
    width:56%;  
}
.rightCol {
    float:left;
    left:84%;
    position:relative;
    width:18%; 
}
.leftCol , .centerCol, .rightCol {
    font-size: 15px;
    line-height: 30px;
    overflow:hidden;
}

.centerCol figcaption {
    color:black;
}

.centerCol p {
    color:#206988;
}
.centerCol span {
    color:#114165;
}

h2,h3 {
    font-size: 12px;
    border: 1px solid  #949fa4;
    border-radius: 15px;
    text-transform: uppercase;
}
h2:before {
   background: url("../img/icon.png") no-repeat;
    content: "";
    display: block;
    float: left;
    height: 25px;
    margin: 5px 3px 0 0;
    width: 25px; 
}
h3:before {
   background: url("../img/disk.png") no-repeat;
    content: "";
    display: block;
    float: left;
    height: 25px;
    margin: 5px 3px 0 0;
    width: 25px; 
}
table {
    background: linear-gradient(to top, rgb(147,167,176) 0%, rgb(228,231,232) 100%); 
}
td {
    text-align: center;
}
footer {
    background-color: rgb(33,58,77);
    margin: 0 auto;
    overflow: hidden;
    width: 910px;
}
footer img{
    margin:5px;
    min-width:50px;
}
footer img:first-child {
    margin-left: 30px;
}
footer ul {
    text-align: center;
}
footer ul li{
    display: inline-block;
    height: 30px;
    margin: 0;
    min-width: 50px;
    padding: 0;
    position: relative;
    text-align: left;
    vertical-align: top;
}
footer ul li a {
    padding: 0 3px;
    border-right: 1px solid #556976;
    text-decoration: none;
    color: #556976;
}
footer ul li:last-child a {
    border-right: none;
}
footer ul li a:hover {
    color: #458da9;
}
footer p {
    color:#534146;
    text-align: center;
}
.brands {
    background-color: white;
}
