.minus-footer {
    min-height: calc(100vh - 48px);
  }
  
  .container {
    max-width: 778px;
    margin: 0 auto;
  }
  
  header {
   background-color: rgb(165, 42, 42);
  }
  
  footer {
    font-size: 20px;
    background-color: black;
  }
  
  .main {
    font-size: 18px;
  }
  
  .pictures img {
    display: inline-block;
    border: dashed black;
    padding-bottom: 3px;
    margin-bottom: -2.6px;
  }
  
  .pictures {
    margin-left: 15.1vw;
  }
  
  .center {
    text-align: center;
  }
  
  .white {
    color: white;
  }
  
  .blue {
    color: blue;
  }
  
  .italic {
    font-style: italic;
  }
  
  .heavy {
    font-weight: 900;
  }