* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}

label,
button,
a {
  cursor: pointer;
}
.container {
  display: flex;
  background-color: #e5eeee;
  height: 1px;
  min-height: 100vh;
}

.authentification {
  margin: auto;
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 495px;
  padding-top: 55px;
  color: #fbf6e4;
  -webkit-box-shadow: 2px 26px 28px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 26px 28px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 26px 28px 5px rgba(0, 0, 0, 0.75);
}

.tabs,
.footer {
  margin: 0 auto;
  width: 262px;
}

.tabs {
  justify-self: self-start;
}

.tabs__content-sign-in,
.tabs__content-join {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 375px;
}

.tabs__content-sign-in > form,
.tabs__content-join > form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px 0 20px;
  font-size: 0.8rem;
  height: 375px;
}

.tabs > input[type="radio"],
.tabs input[type="checkbox"] {
  display: none;
}

.tabs input[type="checkbox"] + label {
  font-size: 0.65rem;
  margin-top: 6px;
  margin-bottom: 10px;
}
.tabs input[type="checkbox"] + label:before {
  display: block;
  float: left;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #fbf6e4;
  margin-right: 5px;
}

.tabs input[type="checkbox"]:checked + label:before {
  background-color: #23ae92;
  background-image: url("../img/check.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tabs input {
  height: 40px;
  font-size: 0.9rem;
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 2px;
  background: transparent;
  border: 1px solid #e1c2f1;
  color: #e5eeee;
  position: relative;
}

.tabs input:focus {
  outline: none;
  color: #fbf6e4;
}

.warning {
  opacity: 0;
}

.tabs input:invalid + div.warning {
  color: red;
  opacity: 1;
}

.tabs > label {
  color: #e1c2f1;
  font-size: 0.9rem;
  font-weight: bold;
}

/* скрыть контент по умолчанию */
.tabs > div {
  display: none;
}

/* отобразить контент, связанный с выбранной радиокнопкой (input type="radio") */
.tabs > input[type="radio"]:first-of-type:checked ~ div:first-of-type,
.tabs > input[type="radio"]:last-of-type:checked ~ div:last-of-type {
  display: block;
}

.tabs > input[type="radio"]:checked + label {
  color: #fbf6e4;
}

.tabs button {
  background-color: #23ae92;
  color: #fbf6e4;
  height: 40px;
  font-size: 0.9rem;
  margin-top: auto;
  margin-bottom: 5px;
}

.footer {
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__link {
  text-decoration: none;
  color: rgba(185, 185, 204, 0.5);
  font-size: 0.65rem;
  border-bottom: 1px solid rgba(185, 185, 204, 0.5);
}
